.jumbotron {
  padding-top: 6rem;
  background-color: #8cb6d8;
}
#projects {
  background-color: #8cb6d8;
}
.jumbotron img {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
}
section {
  padding-top: 5rem;
}
footer {
  padding-top: 3rem;
  margin-top: 50px;
}
